<div class="container">
<a [routerLink]="['/AllEmployee']"  ><button class="button button1">AllEmployee</button></a> &nbsp; &nbsp;  &nbsp;
<a [routerLink]="['/addemployee']" ><button class="button button2">AddEmployee</button></a>  &nbsp; &nbsp;  &nbsp;
<a [routerLink]="['/DeleteEmployee']"  ><button class="button button1">DeleteEmployee</button></a> &nbsp; &nbsp;  &nbsp;
<a [routerLink]="['/EditEmployee']"  ><button class="button button2">EditEmployee</button></a> &nbsp; &nbsp;  &nbsp;
<!-- <a [routerLink]="['/']"><button class="button button3">Red</button></a> -->
</div>
