<div class="container">

  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th>EmployeeId</th>
        <th>EmployeeName</th>
        <th>Designation</th>
        <th>DOB</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of EmployeeData">
        <td>{{employee.EmployeeId}}</td>
        <td>{{employee.EmployeeName}}</td>
        <td>{{employee.Designation}}</td>
        <td>{{employee.DOB}}</td>
        <td>{{employee.salary}}</td>
      </tr>
    </tbody>
  </table>
</div>
